/* Css for Counter Application  */
.container {
  background-color: #E8F3D6;
  border-radius: 25px;
  background-repeat: repeat;
  padding: 20px;
  width: 300px;
  height: 150px;
  justify-content: center;
  position: relative;
  top: 150px;
  left: 550px;
  
};

.container button.btn-in{
  border: 1px solid green;
  background-color: rgb(7, 168, 7);
  color: white;
  position: relative;
  right: 20px;
}

/* Css for Crud Application   */
.h1{
  font-family:  'Maven Pro', sans-serif;
  font-size: 20px;
}
.crud {
  width: 800px;
  height: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  left: 350px;
  align-items: center;
  background-color: #E8F3D6;
  border-radius: 20px;
}

table td {
  width: 200px;
  height: 30px;
  background-color: #6FEDD6;
  text-align: center;
  color: rgb(0, 0, 0);
  
}

table td button {
  padding: 5px 10px;
  border-radius: 10%;
  cursor: pointer;
  
}
table td button.edit {
  border: 1px solid green;
  background-color: rgb(7, 168, 7);
  color: white;
  position: relative;
  right: 20px;
}
table td button.edit:hover {
  background-color: rgb(3, 71, 3);
}
table td button.delete {
  border: 1px solid red;
  background-color: rgb(219, 19, 19);
  color: white;
}
table td button.delete:hover {
  background-color: rgb(92, 5, 5);
}


.addForm {
  margin-bottom: 30px;
}
.addForm input {
  width: 230px;
  height: 30px;
}
.addForm button {
  width: 135px;
  color: white;
  height: 35px;
  background-color: rgb(31, 171, 31);
}
.addForm button:hover {
  background-color: rgb(5, 86, 5);
}